MLFLOW_TRACKING_URI=http://mlflow:5000
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://airflow:airflow@postgres/mlflow
AIRFLOW_UID=50000
OPENAI_API_KEY=
